.button{
    font-size: var(--text-sm);
    padding: 10px 20px;
    color: var(--text);
    border: 1px solid var(--text);
    border-radius: 30px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 20px;
}

