.navBar {
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    background-color: var(--background-dark);
}

.logo {

    img {
        width: 200px;
    }
}

